{{#with cube}}
<h1>{{name}}</h1>
<img class="cube" src="{{imgURL}}">
<div class="details">
    <p><span>Description:</span></p>{{description}}
    <p><span>Difficulty level:</span> {{level}}</p>
    <a class="btn" href="/">Back</a>
</div>
<h2>Accessories</h2>
<div class="accessories">
    <a class="btn" href="/accessory/attach/{{_id}}">Edit Accessories</a>
    {{#each accessory}}
    {{>accessoryCard}}
    {{/each}}

    <h3 class="italic">This cube has no accessories yet...</h3>
</div>
{{/with}}