{{#with cube}}
<h1>{{name}}</h1>
<img class="cube" src="{{imgURL}}">
<div class="details">
    <p><span>Description:</span></p>{{description}}
    <p><span>Difficulty level:</span> {{level}}</p>
    <a class="btn" href="/">Back</a>
    {{#if isOwner}}
    <a class="btn" href="/edit">Edit</a>
    <a class="btn" href="/delete">Delete</a>
    {{/if}}
</div>
<h2>Accessories</h2>
<div class="accessories">
    <a class="btn" href="/accessory/attach/{{_id}}">Edit Accessories</a>
</div>

<div class="accessories">

    {{#if accessory}}
    {{#each accessory }}
    {{>accessoryCard}}
    {{/each}}

    {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>
    {{/if}}
</div>
{{/with}}